<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
            font-size: 24px;
            color: #333;
        }

        .countdown {
            font-size: 36px;
            color: #007BFF;
        }
    </style>
</head>
<body>
<h1 th:text="${verificationMessage}"></h1>
<div class="countdown" id="countdown">5</div>

<script>
    let seconds = 5;

    function updateCountdown() {
        document.getElementById('countdown').innerText = seconds;
        seconds--;

        if (seconds < 0) {
            window.location.href = 'http://localhost/';
        }
    }

    setInterval(updateCountdown, 1000);
</script>
</body>
</html>

